<!doctype html>
<html>
  <head>
    <title>BestTreks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BestTreks</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">This is <strong>BestTreks</strong></h1>
          <p class="lead">Never take a bad hike again.</p><br>
          <p>There are {{ "{:,}".format(count)}} trails on BestTrails so far.</p>
        </div>
      </div>
      <div class="container">
        <p>Local Trails recommended by current conditions</p>
        <p>Don't let rain ruin your day out</p>
      </div>
      <div class="container">
        <br>
        <p><strong>Good Trails</strong></p>

        {% for trail in trails %}
          <p>{{ trail.TRAIL_ID }} {{ trail.PMA_NAME }}</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>